In [1]:
import pandas as pd

In [2]:
pwd

u'/Users/rdc046/Desktop/team4_project1/team4_project1/raw_data'

In [3]:
cd ../Clean_data/

/Users/rdc046/Desktop/team4_project1/team4_project1/clean_data

In [4]:
mojo_critic=pd.read_excel('mojo_critic.xlsx')

In [5]:
mojo_critic.head()

,alt_title,director_x,domestic_gross,mojo_slug,opening_per_theater,opening_weekend_take,production_budget,release_date_limited,release_date_wide,title_x,...,num_user_ratings,num_user_reviews,rating,release_date,runtime_minutes,studio,title_y,unable to retrieve,user_score,new_director_y
0,"10,000 B.C. (2008)",Roland Emmerich,94784201,10000bc,10518,35867488,105000000,NaN,2008-03-07,"10,000 B.C.",...,273,"[50, 18, 60, 128]",PG-13,2008-03-07,109,Warner Bros. Pictures,"10,000 BC",NaN,4.6,rolandemmerich
1,102 Dalmatians (2000),NaN,66957026,102dalmatians,7353,19883351,85000000,NaN,2000-11-22,102 Dalmatians,...,47,"[7, 3, 3, 13]",G,2000-11-22,100,Buena Vista Pictures,102 Dalmatians,NaN,5.3,kevinlima
2,10 Things I Hate About You (1999),NaN,38178166,10thingsihateaboutyou,3668,8330681,30000000,NaN,1999-03-31,10 Things I Hate About You,...,175,"[27, 1, 1, 29]",PG-13,1999-03-31,97,Buena Vista Pictures,10 Things I Hate About You,NaN,7,giljunger
3,10 Years (2012),Jamie Linden,203373,10years,7569,22707,NaN,NaN,2012-09-14,10 Years,...,12,"[3, 2, 1, 6]",R,2012-09-14,100,Anchor Bay Entertainment,10 Years,NaN,6.6,jamielinden
4,11 Flowers (2013),NaN,9213,11flowers,1758,3516,NaN,NaN,2013-02-22,11 Flowers,...,NaN,"[1, 0, 0, 1]",Not Rated,2013-02-22,110,First Run Features,11 Flowers,NaN,tbd,xiaoshuaiwang

In [6]:
mojo_critic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3723 entries, 0 to 3727
Data columns (total 31 columns):
alt_title               3723 non-null object
director_x              2172 non-null object
domestic_gross          3653 non-null float64
mojo_slug               3723 non-null object
opening_per_theater     3548 non-null float64
opening_weekend_take    3548 non-null float64
production_budget       1591 non-null float64
release_date_limited    293 non-null object
release_date_wide       3718 non-null object
title_x                 3723 non-null object
widest_release          3576 non-null float64
worldwide_gross         2821 non-null float64
year                    3721 non-null float64
new_title               3723 non-null object
new_director_x          3723 non-null object
complete                3348 non-null float64
director_y              3347 non-null object
genre                   3345 non-null object
metacritic_page         3348 non-null object
metascore               3272 non-null float64
num_critic_reviews      3348 non-null object
num_user_ratings        3207 non-null float64
num_user_reviews        3348 non-null object
rating                  3263 non-null object
release_date            3348 non-null object
runtime_minutes         3295 non-null float64
studio                  3299 non-null object
title_y                 3348 non-null object
unable to retrieve      0 non-null float64
user_score              3348 non-null object
new_director_y          3347 non-null object
dtypes: float64(12), object(19)
memory usage: 930.8+ KB

In [7]:
mojo_our=pd.read_excel('mojo_our.xlsx')

In [8]:
mojo_our.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3723 entries, 0 to 3730
Data columns (total 52 columns):
alt_title               3723 non-null object
director                2170 non-null object
domestic_gross          3650 non-null float64
mojo_slug               3723 non-null object
opening_per_theater     3545 non-null float64
opening_weekend_take    3545 non-null float64
production_budget       1591 non-null float64
release_date_limited    292 non-null object
release_date_wide       3715 non-null object
title                   3719 non-null object
widest_release          3573 non-null float64
worldwide_gross         2819 non-null float64
year                    3718 non-null float64
new_title               3719 non-null object
new_director_x          3723 non-null object
Actors                  3494 non-null object
Awards                  3163 non-null object
BoxOffice               1955 non-null object
Country                 3505 non-null object
DVD                     3328 non-null object
Director                3485 non-null object
Error                   2 non-null float64
Genre                   3503 non-null object
Language                3502 non-null object
Metascore               3312 non-null float64
Plot                    3493 non-null object
Poster                  3489 non-null object
Production              3344 non-null object
Rated                   3321 non-null object
Released                3485 non-null object
Response                3506 non-null object
Runtime                 3495 non-null object
Title                   3506 non-null object
Type                    3506 non-null object
Website                 2742 non-null object
Writer                  3410 non-null object
Year                    3506 non-null object
imdbID                  3506 non-null object
imdbRating              3498 non-null float64
imdbVotes               3498 non-null object
tomatoConsensus         2688 non-null object
tomatoFresh             3337 non-null float64
tomatoImage             3338 non-null object
tomatoMeter             3338 non-null float64
tomatoRating            3338 non-null float64
tomatoReviews           3338 non-null float64
tomatoRotten            3337 non-null float64
tomatoURL               3462 non-null object
tomatoUserMeter         3431 non-null float64
tomatoUserRating        3430 non-null float64
tomatoUserReviews       3436 non-null float64
new_director_y          3506 non-null object
dtypes: float64(18), object(34)
memory usage: 1.5+ MB

In [9]:
final_table=pd.merge(mojo_critic,mojo_our,how='left',left_on='new_title',right_on='new_title')

In [10]:
final_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3726 entries, 0 to 3725
Data columns (total 82 columns):
alt_title_x               3726 non-null object
director_x                2173 non-null object
domestic_gross_x          3656 non-null float64
mojo_slug_x               3726 non-null object
opening_per_theater_x     3551 non-null float64
opening_weekend_take_x    3551 non-null float64
production_budget_x       1592 non-null float64
release_date_limited_x    293 non-null object
release_date_wide_x       3721 non-null object
title_x                   3726 non-null object
widest_release_x          3579 non-null float64
worldwide_gross_x         2824 non-null float64
year_x                    3724 non-null float64
new_title                 3726 non-null object
new_director_x_x          3726 non-null object
complete                  3350 non-null float64
director_y                3349 non-null object
genre                     3347 non-null object
metacritic_page           3350 non-null object
metascore                 3274 non-null float64
num_critic_reviews        3350 non-null object
num_user_ratings          3209 non-null float64
num_user_reviews          3350 non-null object
rating                    3265 non-null object
release_date              3350 non-null object
runtime_minutes           3297 non-null float64
studio                    3301 non-null object
title_y                   3350 non-null object
unable to retrieve        0 non-null float64
user_score                3350 non-null object
new_director_y_x          3349 non-null object
alt_title_y               3721 non-null object
director                  2170 non-null object
domestic_gross_y          3652 non-null float64
mojo_slug_y               3721 non-null object
opening_per_theater_y     3547 non-null float64
opening_weekend_take_y    3547 non-null float64
production_budget_y       1591 non-null float64
release_date_limited_y    292 non-null object
release_date_wide_y       3717 non-null object
title                     3721 non-null object
widest_release_y          3575 non-null float64
worldwide_gross_y         2821 non-null float64
year_y                    3720 non-null float64
new_director_x_y          3721 non-null object
Actors                    3496 non-null object
Awards                    3165 non-null object
BoxOffice                 1957 non-null object
Country                   3507 non-null object
DVD                       3330 non-null object
Director                  3487 non-null object
Error                     4 non-null float64
Genre                     3505 non-null object
Language                  3504 non-null object
Metascore                 3314 non-null float64
Plot                      3495 non-null object
Poster                    3491 non-null object
Production                3346 non-null object
Rated                     3323 non-null object
Released                  3487 non-null object
Response                  3508 non-null object
Runtime                   3497 non-null object
Title                     3508 non-null object
Type                      3508 non-null object
Website                   2744 non-null object
Writer                    3412 non-null object
Year                      3508 non-null object
imdbID                    3508 non-null object
imdbRating                3500 non-null float64
imdbVotes                 3500 non-null object
tomatoConsensus           2690 non-null object
tomatoFresh               3339 non-null float64
tomatoImage               3340 non-null object
tomatoMeter               3340 non-null float64
tomatoRating              3340 non-null float64
tomatoReviews             3340 non-null float64
tomatoRotten              3339 non-null float64
tomatoURL                 3464 non-null object
tomatoUserMeter           3433 non-null float64
tomatoUserRating          3432 non-null float64
tomatoUserReviews         3438 non-null float64
new_director_y_y          3508 non-null object
dtypes: float64(30), object(52)
memory usage: 2.4+ MB

In [11]:
table_for_model=final_table[['new_title','Director','Genre','year_x','Actors','release_date_wide_x']]

In [12]:
table_for_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3726 entries, 0 to 3725
Data columns (total 6 columns):
new_title              3726 non-null object
Director               3487 non-null object
Genre                  3505 non-null object
year_x                 3724 non-null float64
Actors                 3496 non-null object
release_date_wide_x    3721 non-null object
dtypes: float64(1), object(5)
memory usage: 203.8+ KB

In [13]:
temp=table_for_model['Director'].unique()

In [14]:
pwd

u'/Users/rdc046/Desktop/team4_project1/team4_project1/clean_data'

In [15]:
table_for_model.to_excel('data_for_model.xlsx')

In [211]:
import numpy as np
table_for_model['Genre']

features = [feature for feature in table_for_model['Genre']]
# genres = [[item for sublist in features if sublist.split() is not np.nan for item in sublist]]
genres = [item.split(', ') for item in features if type(item) is unicode]
genres = [item for sublist in genres for item in sublist]
genres = set(genres)

print len(genres)

genre_df = pd.DataFrame()
genre_df['Genre'] = table_for_model.loc[:,'Genre']
# genre_df = table_for_model.new_title
# for genre in genres:    
#     genre_df['Working Category'] = str(genre)
#     genre_df[genre] = ""
#     for index in range(len(genre_df)):
#         if type(genre_df.genre[index]) is unicode:
#             genre_df[genre][index] = genre_df.C[index] in genre_df.genre[index]
# genre_df

25

In [60]:
genre_df.head()

                       Genre
0   Action, Adventure, Drama
1  Adventure, Comedy, Family
2     Comedy, Drama, Romance
3     Comedy, Drama, Romance
4                      Drama

In [94]:
new_df=pd.DataFrame([1,2,3])
for i in range(len(genre_df)):
    try:
        new_df=pd.concat([new_df,pd.DataFrame(genre_df.Genre[i].split(', '))],axis=1)
    except:
        new_df=pd.concat([new_df,pd.DataFrame([np.nan,np.nan,np.nan])],axis=1)
new_df=new_df.T

In [95]:
new_df.index=range(len(new_df))
#mojo_our=mojo_our.drop(mojo_our.index[[1432,2794,2803]])
new_df=new_df.drop(new_df.index[[0]])
new_df.columns=['G1','G2','G3']
new_df.head()

          G1         G2       G3
1     Action  Adventure    Drama
2  Adventure     Comedy   Family
3     Comedy      Drama  Romance
4     Comedy      Drama  Romance
5      Drama        NaN      NaN

In [100]:
new_df.index=range(len(new_df))

In [101]:
final_gener=pd.concat([genre_df,new_df],axis=1)
final_gener.head()

                       Genre         G1         G2       G3
0   Action, Adventure, Drama     Action  Adventure    Drama
1  Adventure, Comedy, Family  Adventure     Comedy   Family
2     Comedy, Drama, Romance     Comedy      Drama  Romance
3     Comedy, Drama, Romance     Comedy      Drama  Romance
4                      Drama      Drama        NaN      NaN

In [113]:
for i in range(len(final_gener)):
    for gen in genres:
        if final_gener.loc[i,'G1']==gen: 
            final_gener.loc[i,str(gen)]=1
        elif final_gener.loc[i,'G2']==gen:
            final_gener.loc[i,str(gen)]=1
        elif final_gener.loc[i,'G3']==gen:
            final_gener.loc[i,str(gen)]=1
        else:
            final_gener.loc[i,str(gen)]=0

In [210]:
final_gener[['G1','G2','G3','Action','Drama','Adventure']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3726 entries, 0 to 3725
Data columns (total 6 columns):
G1           3501 non-null object
G2           2958 non-null object
G3           1930 non-null object
Action       3726 non-null bool
Drama        3726 non-null bool
Adventure    3726 non-null bool
dtypes: bool(3), object(3)
memory usage: 127.4+ KB

In [212]:
from collections import Counter
Counter(table_for_model.Director).most_common(100)
top_directors_and_counts =  list(Counter(table_for_model.Director).most_common(100))
top_directors = [item[0] for item in top_directors_and_counts if item[0] is not float]
top_directors.remove(np.nan)
top_directors

[u'Steven Spielberg',
 u'Woody Allen',
 u'Joel Schumacher',
 u'Ridley Scott',
 u'Clint Eastwood',
 u'Steven Soderbergh',
 u'Tim Burton',
 u'Richard Linklater',
 u'Martin Scorsese',
 u'Ron Howard',
 u'Dennis Dugan',
 u'Gus Van Sant',
 u'Richard Donner',
 u'David Cronenberg',
 u'Robert Zemeckis',
 u'Oliver Stone',
 u'Michael Mann',
 u'Spike Lee',
 u'Roland Emmerich',
 u'Mike Nichols',
 u'Peter Weir',
 u'Christopher Nolan',
 u'Pedro Almod\xf3var',
 u'Wes Craven',
 u'Tony Scott',
 u'Joel Coen, Ethan Coen',
 u'Jonathan Demme',
 u'Stephen Frears',
 u'Kevin Smith',
 u'Cameron Crowe',
 u'James Cameron',
 u'Terry Gilliam',
 u'Taylor Hackford',
 u'Ivan Reitman',
 u'David Fincher',
 u'Chris Columbus',
 u'Frank Coraci',
 u'Rob Reiner',
 u'Robert Redford',
 u'Brian De Palma',
 u'Robert Rodriguez',
 u'Wolfgang Petersen',
 u'M. Night Shyamalan',
 u'Wes Anderson',
 u'Antoine Fuqua',
 u'David Gordon Green',
 u'Peter Berg',
 u'Roger Donaldson',
 u'Luc Besson',
 u'Mark Waters',
 u'Shawn Levy',
 u'Barry Levinson',
 u'Michael Winterbottom',
 u'Brett Ratner',
 u'Danny Boyle',
 u'David Lynch',
 u'Frank Oz',
 u'Andy Tennant',
 u'Alex Gibney',
 u'Roman Polanski',
 u'Kevin Macdonald',
 u'John Singleton',
 u'John McTiernan',
 u'Raja Gosnell',
 u'Paul Greengrass',
 u'Rob Minkoff',
 u'Jason Reitman',
 u'Joe Johnston',
 u'Lana Wachowski, Lilly Wachowski',
 u'Paul Thomas Anderson',
 u'Marc Forster',
 u'Harold Ramis',
 u'Paul Verhoeven',
 u'Ang Lee',
 u'Darren Aronofsky',
 u'Garry Marshall',
 u'Adam Shankman',
 u'Donald Petrie',
 u'Edward Zwick',
 u'Sam Raimi',
 u'Quentin Tarantino',
 u'Todd Solondz',
 u'Jon Turteltaub',
 u'Tom Shadyac',
 u'Baz Luhrmann',
 u'Fred Schepisi',
 u'David Koepp',
 u'Lars von Trier',
 u'George Clooney',
 u'Stanley Kubrick',
 u'Susanne Bier',
 u'Christopher Guest',
 u'Jason Friedberg, Aaron Seltzer',
 u'Renny Harlin',
 u'Betty Thomas',
 u'Nick Cassavetes',
 u'Gregory Hoblit',
 u'Paul Weitz',
 u'Milos Forman']

In [209]:
director_df = table_for_model[['new_title','Director']]
director_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3726 entries, 0 to 3725
Data columns (total 2 columns):
new_title    3726 non-null object
Director     3487 non-null object
dtypes: object(2)
memory usage: 87.3+ KB

In [153]:
df = pd.DataFrame({'a':[1,2,3], 'b':['cat','zebra','dog']})
df

# df[df.b <= 20]

# df[df.b.isin(['cat', 'zebra'])]
df.b.isin(['cat', 'zebra'])
df[df.directors.isin(myfavdirs)]

0     True
1     True
2    False
Name: b, dtype: bool

In [156]:
director_df["Top Director"] = director_df.Director.isin(top_directors)

In [159]:
director_df.head()

               new_title         Director Top Director
0                10000bc  Roland Emmerich         True
1          102dalmatians       Kevin Lima        False
2  10thingsihateaboutyou       Gil Junger        False
3                10years     Jamie Linden        False
4              11flowers   Xiaoshuai Wang        False

In [195]:
actor_df = table_for_model[["new_title","Actors"]]
actor_df.head()

               new_title                                             Actors
0                10000bc  Steven Strait, Camilla Belle, Cliff Curtis, Jo...
1          102dalmatians  Glenn Close, GÃ©rard Depardieu, Ioan Gruffudd, ...
2  10thingsihateaboutyou  Heath Ledger, Julia Stiles, Joseph Gordon-Levi...
3                10years  Channing Tatum, Jenna Dewan Tatum, Justin Long...
4              11flowers      Gang Cao, Shiping Cao, Wenqing Liu, Yihao Lou

In [196]:
double_list = [item.split(', ') for item in actor_df.Actors if type(item) is unicode]
actor_list = [item for sublist in double_list for item in sublist]
actor_count = Counter(actor_list)
top_actors_and_counts = actor_count.most_common(400)
top_actors = [item[0] for item in top_actors_and_counts if item[0] is not float]
top_actors

[u'Robert De Niro',
 u'Nicolas Cage',
 u'Morgan Freeman',
 u'Samuel L. Jackson',
 u'Johnny Depp',
 u'Denzel Washington',
 u'Gene Hackman',
 u'Eddie Murphy',
 u'Julianne Moore',
 u'Adam Sandler',
 u'Bruce Willis',
 u'Robin Williams',
 u'John Cusack',
 u'Nicole Kidman',
 u'Tom Hanks',
 u'Matthew McConaughey',
 u'Matt Damon',
 u'Ewan McGregor',
 u'Brad Pitt',
 u'Kevin Bacon',
 u'Jason Statham',
 u'John Travolta',
 u'Willem Dafoe',
 u'Paul Giamatti',
 u'Colin Farrell',
 u'Anthony Hopkins',
 u'Philip Seymour Hoffman',
 u'Mark Wahlberg',
 u'Leonardo DiCaprio',
 u'Susan Sarandon',
 u'George Clooney',
 u'Dennis Quaid',
 u'Cameron Diaz',
 u'Will Ferrell',
 u'Sandra Bullock',
 u'Will Smith',
 u'Ben Affleck',
 u'Pierce Brosnan',
 u'Tommy Lee Jones',
 u'Christopher Plummer',
 u'Jack Black',
 u'Clive Owen',
 u'Michael Caine',
 u'Arnold Schwarzenegger',
 u'Al Pacino',
 u'Meryl Streep',
 u'Ed Harris',
 u'Ryan Reynolds',
 u'Julia Roberts',
 u'John C. Reilly',
 u'Harrison Ford',
 u'Russell Crowe',
 u'Liam Neeson',
 u'Christian Bale',
 u'Ben Stiller',
 u'Gwyneth Paltrow',
 u'Ethan Hawke',
 u'Christopher Walken',
 u'Jeff Bridges',
 u'Alec Baldwin',
 u'Tom Cruise',
 u'Bill Murray',
 u'Kevin Costner',
 u'Channing Tatum',
 u'Guy Pearce',
 u'Robert Downey Jr.',
 u'Owen Wilson',
 u'Charlize Theron',
 u'Gerard Butler',
 u'Mel Gibson',
 u'Kevin Spacey',
 u'Scarlett Johansson',
 u'Dustin Hoffman',
 u'Greg Kinnear',
 u'Sigourney Weaver',
 u'Tim Robbins',
 u'Keanu Reeves',
 u'Paul Rudd',
 u'Adrien Brody',
 u'Steve Carell',
 u'Joaquin Phoenix',
 u'Kevin Kline',
 u'Jamie Foxx',
 u'Jake Gyllenhaal',
 u'Ryan Gosling',
 u'Tom Wilkinson',
 u'Emile Hirsch',
 u'Colin Firth',
 u'Jason Bateman',
 u'Jennifer Garner',
 u'Kristin Scott Thomas',
 u'Helen Mirren',
 u'Jennifer Aniston',
 u'Catherine Keener',
 u'Jennifer Connelly',
 u'Annette Bening',
 u'Rosario Dawson',
 u'Kirsten Dunst',
 u'Edward Norton',
 u'Don Cheadle',
 u'Jim Carrey',
 u'Aaron Eckhart',
 u'Rachel Weisz',
 u'Diane Lane',
 u'Joseph Gordon-Levitt',
 u'Sean Penn',
 u'Tim Allen',
 u'Michael Douglas',
 u'John Goodman',
 u'Mark Ruffalo',
 u'Laura Linney',
 u'Jack Nicholson',
 u'Reese Witherspoon',
 u'Cate Blanchett',
 u'Naomi Watts',
 u'Kate Winslet',
 u'Jeremy Irons',
 u'Luke Wilson',
 u'Michelle Pfeiffer',
 u'Billy Bob Thornton',
 u'Woody Harrelson',
 u'Matt Dillon',
 u'Steve Martin',
 u'Vince Vaughn',
 u'Ren\xe9e Zellweger',
 u'Ben Kingsley',
 u'John Malkovich',
 u'Richard Gere',
 u'Kate Hudson',
 u'Danny Glover',
 u'Dwayne Johnson',
 u'Jodie Foster',
 u"Vincent D'Onofrio",
 u'Vin Diesel',
 u'Donald Sutherland',
 u'William Hurt',
 u'Danny DeVito',
 u'Jena Malone',
 u'Emily Blunt',
 u'Harvey Keitel',
 u'Dan Aykroyd',
 u'John Turturro',
 u'Danny Huston',
 u'Justin Long',
 u'James Franco',
 u'Diane Keaton',
 u'Chris Cooper',
 u'Jude Law',
 u'John Leguizamo',
 u'Ralph Fiennes',
 u'Tim Roth',
 u'Abigail Breslin',
 u'Glenn Close',
 u'Gabriel Byrne',
 u'Val Kilmer',
 u'Benicio Del Toro',
 u'Ray Liotta',
 u'Dakota Fanning',
 u'Jet Li',
 u'Anna Faris',
 u'Robert Duvall',
 u'Milla Jovovich',
 u'Marion Cotillard',
 u'Toni Collette',
 u'Matthew Broderick',
 u'Radha Mitchell',
 u'Jennifer Lopez',
 u'Brendan Fraser',
 u'Joe Pesci',
 u'Kurt Russell',
 u'Dianne Wiest',
 u'Forest Whitaker',
 u'Natalie Portman',
 u'Ashley Judd',
 u'Geoffrey Rush',
 u'Jackie Chan',
 u'Chris Rock',
 u'Vera Farmiga',
 u'Rachel McAdams',
 u'Josh Lucas',
 u'Amanda Seyfried',
 u'Josh Hartnett',
 u'Paul Bettany',
 u'Shia LaBeouf',
 u'Angelina Jolie',
 u'Josh Brolin',
 u'Jonah Hill',
 u'Demi Moore',
 u'Gary Oldman',
 u'Andy Garcia',
 u'Kathy Bates',
 u'Halle Berry',
 u'Gael Garc\xeda Bernal',
 u'Sean Bean',
 u'Lindsay Lohan',
 u'Clint Eastwood',
 u'Nick Nolte',
 u'Kate Beckinsale',
 u'Michelle Monaghan',
 u'Stellan Skarsg\xe5rd',
 u'Catherine Zeta-Jones',
 u'Amy Adams',
 u'Robin Wright',
 u'Angela Bassett',
 u'Ryan Phillippe',
 u'Steve Buscemi',
 u'Steve Zahn',
 u'Pen\xe9lope Cruz',
 u'Liev Schreiber',
 u'Brendan Gleeson',
 u'Michael Fassbender',
 u'Peter Sarsgaard',
 u'Frances McDormand',
 u'Marcia Gay Harden',
 u'Dennis Hopper',
 u'Marisa Tomei',
 u'Jessica Alba',
 u'Juliette Binoche',
 u'William H. Macy',
 u'Mila Kunis',
 u'Alan Arkin',
 u'Anne Hathaway',
 u'Jamie Lee Curtis',
 u'Thomas Haden Church',
 u'Patricia Arquette',
 u'Helena Bonham Carter',
 u'Eric Bana',
 u'Kristen Stewart',
 u'Stanley Tucci',
 u'Holly Hunter',
 u'Sam Neill',
 u'Zac Efron',
 u'Amanda Peet',
 u'Billy Crudup',
 u'Jim Caviezel',
 u'Drew Barrymore',
 u'Hilary Swank',
 u'Maria Bello',
 u'Mia Wasikowska',
 u'James Gandolfini',
 u'Ellen Burstyn',
 u'Matthew Goode',
 u'Ice Cube',
 u'Cary Elwes',
 u'Jeff Daniels',
 u'Elizabeth Banks',
 u'Winona Ryder',
 u'Michael Angarano',
 u'Terrence Howard',
 u'Joan Cusack',
 u'Bob Hoskins',
 u'Antonio Banderas',
 u'Bill Pullman',
 u'Rose Byrne',
 u'Jay Baruchel',
 u'Jason Schwartzman',
 u'Kelly Preston',
 u'Daniel Day-Lewis',
 u'Emma Thompson',
 u'Patrick Wilson',
 u'David Morse',
 u'Isabelle Huppert',
 u'Bradley Cooper',
 u'Famke Janssen',
 u'Jesse Eisenberg',
 u'Ashton Kutcher',
 u'Chris Evans',
 u'Zooey Deschanel',
 u'Jason Segel',
 u'Keira Knightley',
 u'James McAvoy',
 u'Javier Bardem',
 u'Sharon Stone',
 u'Sarah Polley',
 u'Jennifer Jason Leigh',
 u'Jason Lee',
 u'Nia Long',
 u'Laurence Fishburne',
 u'Julie Delpy',
 u'Mark Strong',
 u'Robert Redford',
 u'Hugh Jackman',
 u'Evan Rachel Wood',
 u'Michael Pe\xf1a',
 u'Mekhi Phifer',
 u'Paul Walker',
 u'Kenneth Branagh',
 u'Thandie Newton',
 u'Emma Stone',
 u'Danny McBride',
 u'Sylvester Stallone',
 u'Derek Luke',
 u'Cuba Gooding Jr.',
 u'Claire Forlani',
 u'Idris Elba',
 u'John Hurt',
 u'Sam Worthington',
 u'James Marsden',
 u'James Belushi',
 u'Dominic Cooper',
 u'Emily Mortimer',
 u'Jim Sturgess',
 u'Jim Broadbent',
 u'Carrie-Anne Moss',
 u'Mickey Rourke',
 u'Juliette Lewis',
 u'James Cromwell',
 u'Catherine Deneuve',
 u'Sam Rockwell',
 u'David Koechner',
 u'Katie Holmes',
 u'Christoph Waltz',
 u'Carla Gugino',
 u'Meg Ryan',
 u'Christian Slater',
 u'Jared Leto',
 u'Sarah Michelle Gellar',
 u'Anthony Mackie',
 u'Bill Nighy',
 u'Sissy Spacek',
 u'Dermot Mulroney',
 u'Jason Biggs',
 u'Connie Nielsen',
 u'Seth Rogen',
 u'Katherine Heigl',
 u'Michael Cera',
 u'Richard Jenkins',
 u'Sean Connery',
 u'Seann William Scott',
 u'Nick Stahl',
 u'Josh Hutcherson',
 u'Christina Applegate',
 u'Kiefer Sutherland',
 u'Daniel Craig',
 u'Viggo Mortensen',
 u'Patricia Clarkson',
 u'Anna Kendrick',
 u'Uma Thurman',
 u'Christina Ricci',
 u'Woody Allen',
 u'Kate Bosworth',
 u'Felicity Jones',
 u'Andie MacDowell',
 u'Jean Reno',
 u'Hayden Christensen',
 u'Martin Lawrence',
 u'Kristen Bell',
 u'Brian Cox',
 u'Elias Koteas',
 u'Gabriel Macht',
 u'Anne Bancroft',
 u'Anna Paquin',
 u'James Caan',
 u'Malin Akerman',
 u'Noomi Rapace',
 u'Chris Klein',
 u'Lauren Graham',
 u'Rene Russo',
 u'David Strathairn',
 u'Joan Allen',
 u'Heath Ledger',
 u'Kerry Washington',
 u'Audrey Tautou',
 u'Gary Sinise',
 u'Leslie Mann',
 u'Robert Patrick',
 u'Tilda Swinton',
 u'Mathieu Amalric',
 u'Jessica Lange',
 u'Michael Sheen',
 u'Charlotte Rampling',
 u'Paul Schneider',
 u'Alyson Hannigan',
 u'Wes Bentley',
 u'Judi Dench',
 u'Laura Dern',
 u'Hilary Duff',
 u'Oliver Platt',
 u'Rob Schneider',
 u'T\xe9a Leoni',
 u'John Krasinski',
 u'Mike Myers',
 u'Claire Danes',
 u'Casey Affleck',
 u'Logan Lerman',
 u'Michael Clarke Duncan',
 u'Tom Hardy',
 u'Neal McDonough',
 u'Ron Perlman',
 u'Garrett Hedlund',
 u"Catherine O'Hara",
 u'Stephen Dorff',
 u'Rory Culkin',
 u'Geena Davis',
 u'Kareena Kapoor',
 u'Josh Duhamel',
 u'Ian Holm',
 u'Steve Coogan',
 u'Albert Finney',
 u'Rob Corddry']

In [203]:
for i in range(len(actor_df)):
        if type(actor_df.loc[i,'Actors']) is unicode:
            list_of_actors = actor_df.loc[i,'Actors'].split(", ")
            for actor in list_of_actors:
                if actor in top_actors:
                    actor_df.loc[i,'Top Actor'] = 1
                    break
                else:
                    actor_df.loc[i,'Top Actor'] = 0

In [201]:
type(actor_df.loc[i-1,'Actors'])

unicode

In [204]:
actor_df.head()

,new_title,Actors,Top Actor
0,10000bc,"Steven Strait, Camilla Belle, Cliff Curtis, Jo...",0
1,102dalmatians,"Glenn Close, GÃ©rard Depardieu, Ioan Gruffudd, ...",1
2,10thingsihateaboutyou,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",1
3,10years,"Channing Tatum, Jenna Dewan Tatum, Justin Long...",1
4,11flowers,"Gang Cao, Shiping Cao, Wenqing Liu, Yihao Lou",0

ValueError: 'Channing Tatum' is not in list

In [205]:
final_gener.to_excel("genres.xls")

In [206]:
final_gener.head()

,Genre,G1,G2,G3,Sci-Fi,Horror,Crime,Romance,Sport,Animation,...,Family,Musical,Crime,Animation,Fantasy,Music,Comedy,War,Biography,Romance
0,"Action, Adventure, Drama",Action,Adventure,Drama,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,"Adventure, Comedy, Family",Adventure,Comedy,Family,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,"Comedy, Drama, Romance",Comedy,Drama,Romance,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,"Comedy, Drama, Romance",Comedy,Drama,Romance,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Drama,Drama,NaN,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [207]:
director_df.to_excel("directors.xls")
actor_df.to_excel("actors.xls")