In [41]:
def list_json_dict(data_dir):
    return_list = list()
    for target_file_name in os.listdir(data_dir):
        if target_file_name[-5:] == '.json':
            target_file_path = os.path.join(data_dir, target_file_name)
            with open(target_file_path, 'r') as target_file:
                json_file = json.load(target_file)
                if(type(json_file)==dict):
                    return_list.append( json_file )
                else:
                    print target_file_path + " is not a json dictionary"
    return return_list

In [45]:
import os
import json
import pandas as pd

In [34]:
DATA_DIR_MOJO = os.path.join('raw_data', 'boxofficemojo')
DATA_DIR_METACRITIC = os.path.join('raw_data', 'metacritic')
DATA_DIR_OUR = os.path.join('raw_data', 'our_movies')
mojo = list_json_dict(DATA_DIR_MOJO)
metacritic = list_json_dict(DATA_DIR_METACRITIC)
our = list_json_dict(DATA_DIR_OUR)

In [47]:
df_mojo = pd.DataFrame(mojo)
df_metacritic = pd.DataFrame(metacritic)
df_our = pd.DataFrame(our)

In [60]:
print(df_mojo.columns.values)
print(df_metacritic.columns.values)
print(df_our.columns.values)
df_mojo.head()

[u'alt_title' u'director' u'domestic_gross' u'mojo_slug'
 u'opening_per_theater' u'opening_weekend_take' u'production_budget'
 u'release_date_limited' u'release_date_wide' u'title' u'widest_release'
 u'worldwide_gross' u'year']
[u'complete' u'director' u'genre' u'metacritic_page' u'metascore'
 u'num_critic_reviews' u'num_user_ratings' u'num_user_reviews' u'rating'
 u'release_date' u'runtime_minutes' u'studio' u'title'
 u'unable to retrieve' u'user_score' u'year']
[u'Actors' u'Awards' u'BoxOffice' u'Country' u'DVD' u'Director' u'Error'
 u'Genre' u'Language' u'Metascore' u'Plot' u'Poster' u'Production' u'Rated'
 u'Released' u'Response' u'Runtime' u'Title' u'Type' u'Website' u'Writer'
 u'Year' u'imdbID' u'imdbRating' u'imdbVotes' u'tomatoConsensus'
 u'tomatoFresh' u'tomatoImage' u'tomatoMeter' u'tomatoRating'
 u'tomatoReviews' u'tomatoRotten' u'tomatoURL' u'tomatoUserMeter'
 u'tomatoUserRating' u'tomatoUserReviews']

,alt_title,director,domestic_gross,mojo_slug,opening_per_theater,opening_weekend_take,production_budget,release_date_limited,release_date_wide,title,widest_release,worldwide_gross,year
0,"10,000 B.C. (2008)",Roland Emmerich,94784201.0,10000bc,10518.0,35867488.0,105000000.0,None,2008-03-07,"10,000 B.C.",3454.0,269784201.0,2008.0
1,102 Dalmatians (2000),None,66957026.0,102dalmatians,7353.0,19883351.0,85000000.0,None,2000-11-22,102 Dalmatians,2704.0,183611771.0,2000.0
2,10 Things I Hate About You (1999),None,38178166.0,10thingsihateaboutyou,3668.0,8330681.0,30000000.0,None,1999-03-31,10 Things I Hate About You,2311.0,53478166.0,1999.0
3,10 Years (2012),Jamie Linden,203373.0,10years,7569.0,22707.0,NaN,None,2012-09-14,10 Years,63.0,203373.0,2012.0
4,11 Flowers (2013),None,9213.0,11flowers,1758.0,3516.0,NaN,None,2013-02-22,11 Flowers,2.0,NaN,2013.0

In [69]:
print(len(df_mojo))
print(len(df_metacritic))
print(len(df_our))
print(len(df_mojo.domestic_gross.dropna()))
print df_mojo.notnull().sum()
print df_metacritic.notnull().sum()
print df_our.notnull().sum()

3728
4765
3723
3653
alt_title               3728
director                2172
domestic_gross          3653
mojo_slug               3728
opening_per_theater     3548
opening_weekend_take    3548
production_budget       1591
release_date_limited     293
release_date_wide       3718
title                   3728
widest_release          3576
worldwide_gross         2821
year                    3721
dtype: int64
complete              4763
director              4763
genre                 4763
metacritic_page       4763
metascore             4588
num_critic_reviews    4763
num_user_ratings      4481
num_user_reviews      4763
rating                4763
release_date          4763
runtime_minutes       4668
studio                4725
title                 4763
unable to retrieve       2
user_score            4763
year                  4763
dtype: int64
Actors               3556
Awards               3556
BoxOffice            3556
Country              3556
DVD                  3556
Director             3556
Error                 167
Genre                3556
Language             3556
Metascore            3556
Plot                 3556
Poster               3556
Production           3556
Rated                3556
Released             3556
Response             3723
Runtime              3556
Title                3556
Type                 3556
Website              3556
Writer               3556
Year                 3556
imdbID               3556
imdbRating           3556
imdbVotes            3556
tomatoConsensus      3556
tomatoFresh          3556
tomatoImage          3556
tomatoMeter          3556
tomatoRating         3556
tomatoReviews        3556
tomatoRotten         3556
tomatoURL            3556
tomatoUserMeter      3556
tomatoUserRating     3556
tomatoUserReviews    3556
dtype: int64

In [91]:
Counter(df_our["Language"].str.contains('English'))

NameError: name 'Counter' is not defined

In [72]:
df_mojo.head()

,alt_title,director,domestic_gross,mojo_slug,opening_per_theater,opening_weekend_take,production_budget,release_date_limited,release_date_wide,title,widest_release,worldwide_gross,year
0,"10,000 B.C. (2008)",Roland Emmerich,94784201.0,10000bc,10518.0,35867488.0,105000000.0,None,2008-03-07,"10,000 B.C.",3454.0,269784201.0,2008.0
1,102 Dalmatians (2000),None,66957026.0,102dalmatians,7353.0,19883351.0,85000000.0,None,2000-11-22,102 Dalmatians,2704.0,183611771.0,2000.0
2,10 Things I Hate About You (1999),None,38178166.0,10thingsihateaboutyou,3668.0,8330681.0,30000000.0,None,1999-03-31,10 Things I Hate About You,2311.0,53478166.0,1999.0
3,10 Years (2012),Jamie Linden,203373.0,10years,7569.0,22707.0,NaN,None,2012-09-14,10 Years,63.0,203373.0,2012.0
4,11 Flowers (2013),None,9213.0,11flowers,1758.0,3516.0,NaN,None,2013-02-22,11 Flowers,2.0,NaN,2013.0

In [80]:
df_our[["Title","BoxOffice"]].head(20)

                         Title BoxOffice
0                          '71       N/A
1         (500) Days of Summer    $32.1M
2                          NaN       NaN
3   10 Things I Hate About You       N/A
4                     10 Years     $0.2M
5                    10,000 BC    $94.8M
6               102 Dalmatians    $65.4M
7                   11 Flowers     $9.2k
8                   12 Monkeys       N/A
9                    12 Rounds    $12.2M
10                   127 Hours    $18.3M
11                13 Assassins     $0.8M
12              13 Going on 30    $56.0M
13                     13 Sins       N/A
14                  13 Tzameti       N/A
15                        1408    $71.9M
16                   16 Blocks    $36.9M
17                    17 Again    $64.1M
18          2 Days in New York     $0.5M
19             2 Days in Paris     $4.2M

In [81]:
df_mojo[["title","domestic_gross"]].head(20)

                         title  domestic_gross
0                  10,000 B.C.      94784201.0
1              102 Dalmatians       66957026.0
2   10 Things I Hate About You      38178166.0
3                     10 Years        203373.0
4                  11 Flowers           9213.0
5                The 11th Hour        707343.0
6                    127 Hours      18335230.0
7                    12 Rounds      12234694.0
8                13 Assassins         802778.0
9               13 Going on 30      57231747.0
10                     13 Sins         13809.0
11           The 13th Warrior       32698899.0
12                  13 Tzameti        121390.0
13                        1408      71985628.0
14                   16 Blocks      36895141.0
15                    17 Again      64167069.0
16        2001:A Space Odyssey      56954992.0
17                        2012     166112167.0
18        2016 Obama's America      33449086.0
19                        2046       1444588.0